@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100%;
}

ul{
	list-style: none;
}

.header{
	width: 100%;
	height: 5%;
	float: left;
	border-bottom: 1px solid #d4d4d4;
	border-top: 3px solid #0070af;
}

#logo>img{
	float: left;
	width: 130px;
	height: 30px;
	padding: 1% 1%;
}


#header_menu{
	width: 13%;
	height: 21px;
	float: right;
	padding-top: 1.5%;
}

#header_menu a{
	color: #595959;
	text-decoration: none;
	font-size: 13px;
	line-height: 1.250em;
	float: left;
	padding-left: 7%;
}

#head{
	width: 100%;
	padding-left: 25%;
	padding-top: 3%;
	padding-bottom: 3%;
	float: left;
}

#head img{
	float: left;
} 

#clause{
	width: 52%;
	height: 300px;
	float: left;
	padding-left: 25%;
}

#clause hr{
	margin: 1% 0;
	color: #d4d4d4;
}

#clause a{
	text-decoration: none;
	border: 1px solid #bababa;
    border-radius: 11px;
    padding: 2px 7px;
    font-size: 12px;
    color: #333;
}

#clause li{
	border: 1px solid #d4d4d4;
	padding: 2% 2%;
}

#next{
	width: 100%;
	float: left;
	padding: 8% 0 3% 45%;
}

#join{
	width: 100px;
    height: 46px;
    margin-top: 15px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
}

#foot_p{
	font-size: 12px;
	color: #919191;
}

#necessary{
	color: #5066aa;
}

#choice{
	color: #919191;
}

#option{
	float: right;
}

#option input{
	padding-left: 30px;
	position: relative;
	left: 30px;
	width: 24px;
    height: 24px;
    opacity: .01;
}

#all input{
	padding-left: 30px;
	position: relative;
	left: 30px;
	width: 24px;
    height: 24px;
    opacity: .01;
}