@charset "UTF-8";

#logo span{
	font-size: 18px;
	float: left;
	padding-top: 1.3%;
}

#main{
width: 20%;
margin: 0 auto;
padding-top: 15%;
}

#main_div{
	border:1px solid #ddd;
	padding: 5%;
}

#main img{

	width: 200px;
	height: 70px;
	padding: 1% 1%;
	padding-bottom: 3%;
}

#m_text{
	padding: 2%;
	padding-right: 5%;
}

#login{
	padding-top: 3%;
	padding-left: 4%;
}

#button{
	padding: 10%;
	padding-left: 17%;
	padding-right: 17%;
	border: 1px solid;
	border-radius: 17px;
	background: #0070af;
	color: white;
}

#b{
	padding: 3% 37%;
}

#another{
	padding: 10px 0;
}

#another a{
	font-size: 12px;
	text-decoration: none;
	color: #333;
}

#new{
	float: left;
}

#find{
	float: right;
}

#find a{
	float: left;
}